#about{
    padding: 80px 7%;
    color: #ababab;
}

.row{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis:60%;
}
.about-col-1 .me{
    padding: 2px;
}
.page_title{
    font-size: 60px;
    font-weight: 600px;
    color: #fff;
}
.tab{
    display : flex;
    margin : 20px 0 40px;
    flex-wrap: wrap;
}
.tab_links{
    margin-right: 50px;
    font-size: 19px;
    font-weight: 500;
    cursor: pointer;
    position: relative;

}
.tab_links::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: rgb(46, 35, 244);
    position: absolute;
    left:0;
    bottom: -8px;
    transition: 0.4s;
}
.tab .tab_links.active_link::after{
    width: 50%;
}

.about-col-2{
    flex-basis: 35%;
}
.about-col-2 img{
    width: 100%;
    border-radius:15px;
}
.tab_contents ul li{
    list-style: none;
    margin: 15px 0 ;
}
.tab_contents ul li span{
    color:rgb(81, 84, 253);
    font-size: 14px;
    margin-bottom: 5px;
}
.tab_contents ul li a{
    text-decoration: none;
    color: #ababab;
}
.tab_contents{
    display: none;
}
.tab_contents.active_tab{
    display: block;
}

